.main {
    background-color: rgb(240, 242, 245);
    height: 100%;
    margin: 55px 0 0 170px;
    overflow-y: auto;
    width: 100%;
}

.meeting-col {
    background-color: rgb(233, 233, 233);
    border-left: 1px solid rgb(220, 220, 220);
}