.meeting {
    background-color: rgb(250, 250, 250);
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    color: rgb(130,130,130);
    font-weight: 500;
    margin-top: 20px;
    min-height: 150px;
    padding: 10px 10px 30px;
    position: relative;
    transition: box-shadow .3s;
}

.meeting:hover {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1), -4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.meeting > .row {
    margin-bottom: 14px;
}

.meeting-edit {
    color: rgb(200,200,200);
    cursor: pointer;
    float: right;
    font-size: 0.8rem;
    margin-top: -4px;
}

.meeting-edit:hover {
    color: rgb(0, 125, 129);
    text-decoration: underline;
}

.meeting .activity-comment svg {
    font-size: 0.9rem;
}

.meeting-topic {
    color: rgb(118, 0, 165);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 10px;
}

.meeting-date {
    color: rgb(50, 50, 50);
    font-size: 0.8rem;
    margin-top: -4px;
    text-transform: uppercase;
}

.meeting-link {
    color: rgb(0, 145, 202);
    cursor: pointer;
    margin-bottom: 20px;
}

.meeting-participants > span,
.meeting-agenda > span {
    font-size: 0.8rem;
    margin-bottom: 4px;
    text-decoration: underline;
    text-transform: uppercase;
}

.meeting-participant {
    color: rgb(0, 145, 202);
    padding: 0 15px;
}

.meeting-agenda > ol {
    background-color: white;
    background-color: white;
    border: 1px solid rgb(240,240,240);
    border-radius: 8px;
    color: rgb(50,50,50);
    margin: 4px 0;
    padding: 10px 10px 10px 25px;
}

.meeting-agenda-item {
    margin-bottom: 4px;
}